@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

:root{
    --dark-green: #323e2a;
    --lighter-green: #677842;
    --orange-yellow: #d8b207;
    --sunny-yellow: #ffd102;
    --opaque-white: #edecf2;

}

/* Base reset */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;

    font-size: 62.5%;
    scroll-behavior: smooth;
   
}

/* 1200px / 16px = 75em*/
@media (max-width: 75em){
    html{
        font-size: 60%;
        }
    *{
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        }
}

/* 980px / 16px = 61.25em*/
@media (max-width: 75em){
    html{
        font-size: 58%;
    }
    *{
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        }
}

/* 460px / 16px = 28.75em*/
@media (max-width: 75em){
    html{
        font-size: 55%;
    }
    *{
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        }
}

body{
    background-color: var(--dark-green);
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--opaque-white);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--opaque-white);
}


/* Style the links inside the navigation bar */
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-green);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}

.nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: var(--opaque-white);
    color: var(--dark-green);
  }

  @media (max-width: 28.75em) {
    .nav{
        justify-content: center;
    }
    .nav-list{
        margin: 0 1rem;
    }
  }


/*HERO INCLUDING CHURCH NAME AND LOGO
*/
.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Using linear-gradient to add a darken background effect to image. This will make the text easier to read. */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/C5nJWzKR/church-background.png);
    /*Setting a specific height */
    width: 100%;
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero-text{
   
   /* font-size: 3rem; */
    font-weight: 100;
    font-style: normal;
    color: var(--opaque-white);
}
.hero-text h1{
    font-size: 8rem;
}
.hero-text h1 span{
    font-weight: 400;
    font-size: 10rem;
    color: var(--lighter-green);
}
.hero-text p{
    font-size: 3.2rem;
}
.hero-text p span{
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    color: var(--lighter-green);
}
.hero-text button{
    background-color: var(--dark-green);
    color: var(--opaque-white);
    font-size: 1.6rem;
    text-align: center;
    border: none;
    border-radius: 80px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    width: 200px;
    height: 50px;
    bottom: 10px;
}
.hero-text button:hover{
    background-color: var(--opaque-white);
    color: var(--dark-green);
    transition: 220ms ease-in-out;
    cursor: pointer;
}


/*PARAGRAPH SECTIONS BEGIN HERE
*/
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;
    background-color: var(--lighter-green);
    
}
.about-section-header{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.4rem solid #343434;
    font-size: 6.4rem;
}

.about-section > p{
    font-weight: 300;
    font-size: 4rem;
}
/*Gallery Section*/

.gallery{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: (8, 5vw);
    gap: 5px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_item--1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery_item--2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery_item--3{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery_item--4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gallery_item--5{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery_item--6{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
/*Footer begins here*/



footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #343434 ;
    text-align: center;
    border-top: 3px solid var(--dark-green);
}

footer p{
    margin: 2rem;
}
footer p span{
    color: var(--opaque-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

footer p a{
    font-style: italic;
    text-decoration: none;
}

@media (max-width: 24.75em) {
    footer{
        
        text-align: center;
    }
}
